<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ event }} product.</title>
</head>
<body>
    <div class="container">
        <p>Title: {{ product.title }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Categories: {{ product.categories }}</p>
        <p>Eid: {{ product.external_id }}</p>
    </div>
</body>
</html>